# LINEAR REGRASSION A SUPERVISED ML PROCESS #  Y=M1X1+M2X2....MNXN +C  STRAIGHT LINE , MULTIPLE  VARIABLE

In [46]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

In [13]:
df=pd.read_csv(r"C:\Users\ibast\Downloads\Car Drive risk Multiple Varible.zip")

In [14]:
df.head()

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82

In [15]:
#HAVE TO FILL THE NIL VALUE
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
6     NaN
Name: experience, dtype: float64

In [17]:
df.experience.mean()

6.6

In [28]:
exp_fit=df.experience.median()

In [29]:
exp_fit

5.0

In [31]:
df.experience=df.experience.fillna(exp_fit)

In [32]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
6     5.0
Name: experience, dtype: float64

In [44]:
#now no nul vale in data #
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10
6    120        3         5.0    70

In [47]:
from sklearn.linear_model import LinearRegression
reg=linear_model.LinearRegression()

In [56]:
reg.fit(df[["speed","car_age","experience"]],df.risk)

LinearRegression()

In [57]:
#auto predction 
reg.predict([[160,10,5]])

array([73.89120137])

In [58]:
#formula y=m1x1+m2x2+m3x3+....c
reg.coef_

array([ 0.26375691,  1.13106859, -6.78580507])

In [59]:
#manual calculation   
#risk=m1, speed ,m2 car_age , m3 experience ,intercept 
---m =coeficient 
   y= DV 
    speed,car_age ,experience 
    c=intercept

54.30843563718488

In [60]:
reg.intercept_

54.30843563718488

In [61]:
#risk=m1*speed+m2*car_age+m3*experiance*intercept
0.26375691*160+  1.13106859*10+-6.78580507*5+54.30843563718488

73.89120178718488

In [ ]:
# so auto predction and manual same ..73.89120..